.header3{
    background-image: url(../img/img3.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .titleHeader{
        font-size: 2rem;
        text-transform: uppercase;
        border-bottom: solid black 1px;
        color: black;
    }
    .textHeader{
        font-size: 1rem;
        margin-top: 15px;
        color: black;
    }
}
@media (max-width: 700px){
    .nav{
        .listaNav{
            text-align: center;
            font-size: 14px;
            .contenedorLogo{
                .enlaceLogo{
                    .logo{
                        display: none;
                    }
                }
            }
        }
    }
}